/* CSS STYLES GO HERE */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: lato, 'helvetica-light';
    text-transform: uppercase;
    padding: 20px 0;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#card-number, #card-expiration, #card-amount, #card-holder {
    font-size: 15px;
    letter-spacing: 2px;
}
.card-number, .card-holder, .card-cvc{
    width: 100%;
}

#card-holder {
    display: inline-block;
    width: 60%;
    float: left;
}

#card-expiration {
    margin-left: 10px;
    width: 32%;
    display: inline-block;
    float: right;
}
.card-month {
  width: 40% !important;
  float: left;
}
.card-year {
    width: 40%;
    float: right;
}

#card-front, #card-back {
    width: 400px;
    height: 250px;
    border-radius: 15px;

    background: gray;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card-back {
    position: relative;
    left: 30%;
    top: -200px;
    z-index: -2;
}

.card-stripe {
    width: 100%;
    height: 55px;
    background-color: black;
    position: absolute;
    right: 0;
    z-index: -1;
}
#card-security {
  position: absolute;
  width: 80px;
  right: 31%;
  bottom: 45%;
  padding-left: 20px;
  box-sizing: border-box;
}
#card-submit {
  background-color: orange;
  color: black;
  position: relative;
  bottom: 150px;
  left: 350px;
  width: 150px;
  border-radius: 8px;
  height: 42px;
  font-size: 12px;
  font-family: lato, 'helvetica-light', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}